extends layout

block content

 h1 #{title}
 p Math.abs() is applied to #{num1} is #{num1}
 p Math.log2() is applied to #{num1} is #{log2}
 p Math.cosh() is applied to #{num2} is #{cosh}
 p Math.floor() is applied to #{num3} is #{floor}


